# Environment
.env
*.exe
db.sqlite3
staticfiles/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django static
staticfiles/

# Virtualenv
.venv/
venv/

# Binaries
*.exe
100labs.exe
public/100labs.exe